@import "common.css";

body > div {
    border: solid 2px grey;
    border-radius: 25px;
    margin-top: 1rem;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

#divFile {
    border: solid 2px darkgray;
    padding: 1rem;
    border-radius: 25px;
    display: grid;
    background-color: rgba(211, 211, 211, 0.25);
}

#fileError {
    margin-bottom: unset;
    margin-top: 0.5rem;
}

#displayImage {
    border: solid 2px darkgray;
    padding: 1rem;
    background-color: rgba(211,211,211,0.25);
    border-radius: 25px;
    margin-right: auto;
    margin-top: 1rem;
}

#instructions {
    margin-top: unset;
}

#termList {
    border: solid 2px darkgray;
    padding: 1rem;
    background-color: rgba(211,211,211,0.25);
    border-radius: 25px;
    width: 40rem;
    height: 40rem;
    overflow-y: scroll;
    scrollbar-color: grey rgba(128, 128, 128, 0);

}

canvas,svg {
    border-radius: 25px;
    /*width: 600px;
    height: 600px;*/
}

.term {
    border: none;
    background-color: darkgray;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px -5px 2px #8c8c8c;
    display: flex;
    margin-top: 1rem;
}

.term > button {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: grey;
    border: none;
    border-radius: 5px;
    box-shadow: 2px -2px 1px #4d4d4d;
}

.term > button:hover {
    background-color: #4d4d4d;
    transform: translate(1px, -2px);
    box-shadow: none;
}

.term > label {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.term > input{
    width: 32rem;
    margin: 0.5rem 0.5rem 0.5rem auto;
    border-radius: 15px;
    border: none;
    text-align: center;
}

#fileSelector {
    margin-top: 0.5rem;
}

#conceptName {
    border-radius: 15px;
    border: none;
    text-align: center;
}

#addButton,#save > input {
    margin-top: 1rem;
    padding: 0.1rem 1rem;
    font-size: 3rem;
    font-weight: bolder;
    border: none;
    background-color: darkgray;
    box-shadow: 5px -5px 2px #8c8c8c;
    border-radius: 10px;
}

#addButton:hover,#save > input:hover {
    background-color: grey;
    transform: translate(3px, -5px);
    box-shadow: none;
}

form {
    display: flex;
}

form > div {
    display: grid;
}

#column2 {
    margin-right: 0.5rem;
    margin-left: auto;
}

#save {
    margin: auto 0.5rem 0.5rem auto;
}

#save > input {
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

#canvasImage,#svgDiv {
    width: 70rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

#instructions {
    text-align: center;
}