* {
    font-family: Montserrat, sans-serif;
}

body {
    background-image: url("../pictures/background.jpg");
    background-size: cover;
}

header {
    display: flex;
    border: solid 2px grey;
    padding-left: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    color: cornsilk;
}

header > div {
    margin-right: 1.5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > a {
    margin: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
}

header > div > a:link {
    color: cornsilk;
    font-weight: bold;
}

header > div > a:visited {
    color: #95917f;
    font-weight: bolder;
}
