@import "common.css";

body > div {
    border: solid 2px grey;
    border-radius: 25px;
    margin-top: 1rem;
    padding: 1rem;
    backdrop-filter: blur(10px);
}

form {
    display: flex;
}

form > div {
    display: grid;
}

#displayName,#displayImage,#termList {
    border: solid 2px darkgray;
    border-radius: 25px;
    background-color: rgba(211,211,211,0.25);
}

#displayName {
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayName > p {
    font-size: 3rem;
    margin: unset;
}

#displayImage {
    padding: 1rem;
    margin-top: 1rem;
}

#termList {
    height: 40rem;
    overflow-y: scroll;
    padding: 1rem;
    width: 40rem;
    scrollbar-color: grey rgba(128, 128, 128, 0);
}


#column2 {
    margin-right: 0.5rem;
    margin-left: auto;

}

svg {
    border-radius: 25px;

}

#svgImage {
    width: 70rem;
    justify-content: center;
    align-items: center;
    display: flex;

}

#addButton {
    margin-top: 1rem;
    padding: 0.1rem 1rem;
    font-size: 3rem;
    font-weight: bolder;
    border: none;
    background-color: darkgray;
    box-shadow: 5px 5px 2px #8c8c8c;
    border-radius: 10px;
}

#addButton:hover {
    background-color: grey;
    transform: translate(5px, 5px);
    box-shadow: none;
}

#instructions {
    text-align: center;
    margin-top: unset;
}

.term {
    border: none;
    background-color: darkgray;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px -5px 2px #8c8c8c;
    display: flex;
    margin-top: 1rem;
}

.term > button {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: grey;
    border: none;
    border-radius: 5px;
    box-shadow: 2px -2px 1px #4d4d4d;
}

.term > button:hover {
    background-color: #4d4d4d;
    transform: translate(1px, -1px);
    box-shadow: none;
}

.term > label {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.term > input{
    width: 32rem;
    margin: 0.5rem 0.5rem 0.5rem auto;
    border-radius: 15px;
    border: none;
    text-align: center;
}

#buttons {
    display: flex;
    margin: 1rem 1rem 0.5rem auto;
}

#buttons > div > * {
    background-color: lightgray;
    border: none;
    padding: 0.5rem;
    margin: auto;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 2px darkgray;
}

#buttons > div > *:hover {
    background-color: darkgray;
    transform: translate(5px, 5px);
    box-shadow: none;
}

#buttons > div {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 1rem;
}

#delete > a {
    color: red;
}