@import "common.css";

body > div {
    border: solid 2px grey;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

#conceptPage {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}

.concept {
    border: solid 2px darkgray;
    border-radius: 25px;
    padding: 1rem;
    background-color: rgba(211,211,211,0.25);
    margin-bottom: 1rem;
}

img {
    width: 250px;
    height: 250px;
    margin: 1rem 1rem 0.5rem;
    border-radius: 25px;
}

.name {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}

.concept > a {
    height: 0;
}

#bottomPage {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#bottomPage > button {
    background-color: lightgray;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 2px darkgray;
    font-weight: bolder;
    font-size: 2rem;
}

#bottomPage > button > a {
    text-decoration: none;
    color: black;
}

#bottomPage > p {
    font-size: 2rem;
    font-weight: bolder;
    margin: unset;
    text-align: center;
    align-items: center;
    display: flex;
}

#bottomPage > button:hover {
    background-color: darkgray;
    transform: translate(5px,5px);
    box-shadow: none;
}