@import "common.css";

#formulaire {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

form {
    margin-top: 15%;
    display: grid;
    padding: 2.5rem;
    width: 20em;
    height: 10em;
    backdrop-filter: blur(10px);
    border: solid 2px grey;
    border-radius: 25px;
}

form > input {
    height: 2rem;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px darkgray;
    background-color: rgba(211, 211, 211, 0.75);
}