@import "common.css";

body > div {
    border: solid 2px grey;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.concept {
    border: solid 2px darkgray;
    border-radius: 25px;
    padding: 1rem;
    background-color: rgba(211,211,211,0.25);
    margin-top: 1.5rem;
}

.image {
    margin: 1rem 1rem 0.5rem;
    width: 250px;
    height: 250px;
}

.image > img {
    border-radius: 25px;
}

.links {
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.links > a {
    text-decoration: none;
    font-size: 1.3rem;
    background-color: lightgray;
    padding: 0.35rem;
    border-radius: 5px;
    box-shadow: 4px 4px 2px darkgray;
    color: darkslategray;
}

.links > a:hover {
    background-color: darkgray;
    transform: translate(4px,4px);
    box-shadow: none;
}

.links > a:link {
    font-weight: bold;
}

.links > a:visited {
    font-weight: bolder;
}

.name {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.2rem;
}