@import "common.css";

#formulaire {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}

form {
    margin-top: 15%;
    display: grid;
    padding: 3rem 3rem 3.4rem;
    width: 20rem;
    height: 10rem;
    backdrop-filter: blur(10px);
    border: solid 2px grey;
    border-radius: 25px;
}

form > input,form > div > select {
    margin: 4px;
    border-radius: 8px;
    border: solid 1px darkgray;
    background-color: rgba(211, 211, 211, 0.75);
}

form > div > select {
    width: 20rem;

}

input[disabled] {
    background-color: rgba(128, 128, 128, 0.75);
    border-color: grey;
}