@import "common.css";

body > div {
    border: solid 2px grey;
    border-radius: 25px;
    margin-top: 1rem;
    backdrop-filter: blur(10px);
    padding: 1rem;
    display: flex;
}

body > div > div {
    display: grid;
}

#displayName {
    border: solid 2px darkgray;
    padding: 1rem;
    border-radius: 25px;
    display: grid;
    background-color: rgba(211, 211, 211, 0.25);
}

#displayImage {
    border: solid 2px darkgray;
    padding: 1rem;
    background-color: rgba(211,211,211,0.25);
    border-radius: 25px;
    margin-top: 1rem;
    width: 65rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

#displayTerm {
    border: solid 2px darkgray;
    background-color: rgba(211,211,211,0.25);
    border-radius: 25px;
    margin-right: 0.5rem;
    margin-left: auto;
    width: 45rem;
    display: flow;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-color: grey rgba(128, 128, 128, 0);
}

svg {
    border-radius: 25px;
}

.term {
    background-color: darkgray;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    border: none;
    box-shadow: 5px -5px 2px #8c8c8c;
    margin-bottom: 1rem;
}

.term > p {
    text-align: center;
    font-size: 1.5rem;
}

#conceptName {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}